@model IEnumerable<CityVM>

 @foreach(var item in Model)
 {
   
    <a href="https://localhost:44338/Product/CityTour/@item.Id" class="text-decoration-none">
        <div class="card me-3">
            <img src="@item.CityImage" class="card-img-top" alt="@item.CityName">
            <div class="city-explore-card-span d-flex position-relative ">
                <span class="explore-imgtitle ">@item.CityName</span>
            </div>
        </div>
    </a>
    
   item.Id++;
    
 }