@using Today.Model.Models

@model IEnumerable<City>
@{
    var count = 1;
}
 @foreach(var item in Model)
 {
    item.CityId++;
    <a href="https://localhost:44338/Product/CityTour/" class="text-decoration-none">
        <div class="card me-3">
            <img src="@item.CityImage" class="card-img-top" alt="@item.CityName">
            <div class="city-explore-card-span d-flex position-relative ">
                <span class="explore-imgtitle ">@item.CityName</span>
            </div>
        </div>
    </a>
    


    if(count == 5)
    {
        break;
    }
   
    
 }