@model Today.Web.ViewModels.CityVM

   
    <a href="https://localhost:44338/Product/CityTour/@Model.CityPage.Id" class="text-decoration-none">
        <div class="card me-3">
            <img src="@Model.CityPage.CityImage" class="card-img-top" alt="@Model.CityPage.CityName">
            <div class="city-explore-card-span d-flex position-relative ">
                <span class="explore-imgtitle ">@Model.CityPage.CityName</span>
            </div>
        </div>
    </a>
      
    
    

    

    
 