
@*訂閱數微4.75位址*@
<a class="card flex-row rounded google-map-product-item w-100">
    <img src="https://picsum.photos/300/200/?random=10" class="rounded-start">
    <div class="card-body  position-relative p-0 m-2">
      <h5 class="card-title mb-2 map-h5 ">【2022澎湖花火節】台灣澎湖租機車 | 騎車輕鬆環島遊澎湖</h5>
      <p class="star text-info  m-0"><i class="fa-solid fa-star"></i> <span class="star-amount">4.75</span></p>
      <p class="card-text map-price ">TWD <span class="text-info">358</span></p>
    </div>
</a>