
<div class="container-fluid">

    <!-- Page Heading -->
    
    <div id="app">
        <template>
          <div>
            <b-table striped hover :items="items" :fields="fields"></b-table>
          </div>
        </template>
    </div>


</div>




@section endJS{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>

    <script>

        

        const app = new Vue({
            el:'#app',
            data:{          
                age:20,
                name:'Eva'
            }

        })

    </script>

    
}