@model LocationVM

@section TOPCSS
{
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>手作課程一次看！特搜全台灣300+熱門好評體驗 - Today</title>
  <link rel="stylesheet" href="~/css/shared.css">
  <link rel="stylesheet" href="~/css/Sidebar.css">
  <link rel="stylesheet" href="~/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="~/css/homestyle.css">
  <link rel="stylesheet" href="~/css/DIY.css">
  <link rel="stylesheet" href="~/css/google-map.css">
  <link rel="stylesheet" href="~/css/hotel-banner-partical.css">
}

<partial name="hotel_bannerPartial" />

  <div class="container">
    <div class="owl-carousel owl-theme DIY-main-card">
      <div class="card position-relative rounded DIY-card border-0 ">
        <h5 class=" position-absolute DIY-card-h5 text-light">居家手作</h5>
      </div>
      <div class="card position-relative rounded DIY-card-food border-0 ">
        <h5 class=" position-absolute DIY-card-h5 text-light">療育美食</h5>
      </div>
      <div class="card position-relative rounded DIY-card-command border-0 ">
        <h5 class=" position-absolute DIY-card-h5 text-light">文青推薦</h5>
      </div>
      <div class="card position-relative rounded DIY-card-Customization border-0 ">
        <h5 class=" position-absolute DIY-card-h5 text-light">專屬客製</h5>
      </div>
    </div>
  </div>
  
<partial name="hotelFiliterPartial" />
  
  <div class="container-fluid-ProductList ">
    <section class="container m-auto">
      <div class="container row p-0 m-0">
        <div class="col-lg-3 product-filter px-3 pt-3">
            <partial name="mapPartial" />
          <div class="filter-group rounded py-2 mb-1">
            <div class="filter-block py-3 ps-3">
              <h4>所有商品類別</h4>
            </div>
            <div class="accordion-item ">
              <h2 class="accordion-header " id="Attractions">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseAttractiontickets" aria-expanded="false">
                  景點門票
                </div>
              </h2>
              <div id="collapseAttractiontickets" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="all">
                    <label class="form-check-label ms-1 mt-1" for="all">全部</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Attractiontickets">
                    <label class="form-check-label ms-1 mt-1" for="Attractiontickets">景點門票
                      (3210)</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="ThemePark">
                    <label class="form-check-label ms-1 mt-1" for="ThemePark">
                      主題樂園 (351)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Museums&Galleries">
                    <label class="form-check-label ms-1 mt-1" for="Museums&Galleries">
                      博物館 & 美術館 (379)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Aquarium&Zoo">
                    <label class="form-check-label ms-1 mt-1" for="Aquarium&Zoo">
                      水族館 & 動物園 (52)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="HistoricSite">
                    <label class="form-check-label ms-1 mt-1" for="HistoricSite">
                      歷史景點 (152)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseEventsExhibitions" aria-expanded="false">
                  活動 & 展覽
                </div>
              </h2>
              <div id="collapseEventsExhibitions" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Events&Exhibitionsall">
                    <label class="form-check-label ms-1 mt-1" for="Events&Exhibitionsall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="sportsevents">
                    <label class="form-check-label ms-1 mt-1" for="sportsevents">
                      運動賽事 (42)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="entertainment">
                    <label class="form-check-label ms-1 mt-1" for="entertainment">
                      娛樂表演 (208)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="exhibition">
                    <label class="form-check-label ms-1 mt-1" for="exhibition">
                      展覽 (37)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseOutdooractivities" aria-expanded="false">
                  戶外活動
                </div>
              </h2>
              <div id="collapseOutdooractivities" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Outdooractivitiesall">
                    <label class="form-check-label ms-1 mt-1" for="Outdooractivitiesall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Adventure&ExtremeSports">
                    <label class="form-check-label ms-1 mt-1" for="Adventure&ExtremeSports">
                      冒險 & 極限運動 (887)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="snowactivities">
                    <label class="form-check-label ms-1 mt-1" for="snowactivities">
                      雪地活動 (32)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="camping">
                    <label class="form-check-label ms-1 mt-1" for="camping">
                      露營 (106)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Hiking&Mountaineering">
                    <label class="form-check-label ms-1 mt-1" for="Hiking&Mountaineering">
                      遠足 & 登山 (96)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="touristfarm">
                    <label class="form-check-label ms-1 mt-1" for="touristfarm">
                      觀光農場 (263)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="WaterActivities">
                    <label class="form-check-label ms-1 mt-1" for="WaterActivities">
                      水上活動 (1333)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseRelieveRelax"
                  aria-expanded="false">
                  紓壓 & 放鬆
                </div>
              </h2>
              <div id="collapseRelieveRelax" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Relieve&Relaxall">
                    <label class="form-check-label ms-1 mt-1" for="Relieve&Relaxall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Spa&Massage">
                    <label class="form-check-label ms-1 mt-1" for="Spa&Massage">
                      Spa & 按摩 (525)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Beauty&Salon">
                    <label class="form-check-label ms-1 mt-1" for="Beauty&Salon">
                      美容 & 沙龍 (25)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="spa">
                    <label class="form-check-label ms-1 mt-1" for="spa">
                      溫泉 (64)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseWorkshopLocalCulture" aria-expanded="false">
                  工作坊 & 在地文化
                </div>
              </h2>
              <div id="collapseWorkshopLocalCulture" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Workshop&LocalCultureall">
                    <label class="form-check-label ms-1 mt-1" for="Workshop&LocalCultureall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Workshops&Courses">
                    <label class="form-check-label ms-1 mt-1" for="Workshops&Courses">
                      工作坊 & 課程 (933)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Culturalexperience">
                    <label class="form-check-label ms-1 mt-1" for="Culturalexperience">
                      文化體驗 (360)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="handmadematerialpackage">
                    <label class="form-check-label ms-1 mt-1" for="handmadematerialpackage">
                      手作材料包 (22)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapseSightseeingitinerary" aria-expanded="false">
                  觀光行程
                </div>
              </h2>
              <div id="collapseSightseeingitinerary" class="accordion-collapse collapse"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Sightseeingitineraryall">
                    <label class="form-check-label ms-1 mt-1" for="Sightseeingitineraryall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Half/DayTour">
                    <label class="form-check-label ms-1 mt-1" for="Half/DayTour">
                      半/一日遊 (3947)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Multi-daytour">
                    <label class="form-check-label ms-1 mt-1" for="Multi-daytour">
                      多日遊 (1213)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="onlinetravel">
                    <label class="form-check-label ms-1 mt-1" for="onlinetravel">
                      線上旅遊 (8)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="biketour">
                    <label class="form-check-label ms-1 mt-1" for="biketour">
                      單車旅遊 (21)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="boattour">
                    <label class="form-check-label ms-1 mt-1" for="boattour">
                      遊船觀光 (231)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="cruisevacation">
                    <label class="form-check-label ms-1 mt-1" for="cruisevacation">
                      遊輪假期 (157)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFoodFresh"
                  aria-expanded="false">
                  美食 & 生鮮
                </div>
              </h2>
              <div id="collapseFoodFresh" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Food&Freshall">
                    <label class="form-check-label ms-1 mt-1" for="Food&Freshall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="restaurantfood">
                    <label class="form-check-label ms-1 mt-1" for="restaurantfood">
                      餐廳美食 (1142)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="dessertdrink">
                    <label class="form-check-label ms-1 mt-1" for="dessertdrink">
                      甜點飲品 (471)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="freshgroceries">
                    <label class="form-check-label ms-1 mt-1" for="freshgroceries">
                      生鮮雜貨 (76)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapsetransportation" aria-expanded="false">
                  交通
                </div>
              </h2>
              <div id="collapsetransportation" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="transportationall">
                    <label class="form-check-label ms-1 mt-1" for="transportationall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="trafficticket">
                    <label class="form-check-label ms-1 mt-1" for="trafficticket">
                      交通票券 (821)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="carrental">
                    <label class="form-check-label ms-1 mt-1" for="carrental">
                      租車自駕 (198)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Privatecarservice">
                    <label class="form-check-label ms-1 mt-1" for="Privatecarservice">
                      專車服務 (864)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="AirportShuttle">
                    <label class="form-check-label ms-1 mt-1" for="AirportShuttle">
                      機場接駁 (444)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapsestay"
                  aria-expanded="false">
                  住宿
                </div>
              </h2>
              <div id="collapsestay" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="stayall">
                    <label class="form-check-label ms-1 mt-1" for="stayall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="restaurant">
                    <label class="form-check-label ms-1 mt-1" for="restaurant">
                      飯店 (998)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="resort">
                    <label class="form-check-label ms-1 mt-1" for="resort">
                      度假村 (29)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="homestay">
                    <label class="form-check-label ms-1 mt-1" for="homestay">
                      民宿 (91)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWiFiSIMCard"
                  aria-expanded="false">
                  Wi-Fi & SIM 卡
                </div>
              </h2>
              <div id="collapseWiFiSIMCard" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Wi-Fi&SIMCardall">
                    <label class="form-check-label ms-1 mt-1" for="Wi-Fi&SIMCardall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Wi-Fi&SIMCard">
                    <label class="form-check-label ms-1 mt-1" for="Wi-Fi&SIMCard">
                      Wi-Fi & SIM 卡 (217)
                    </label>
                  </div>
                </div>
              </div>

            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse"
                  data-bs-target="#collapsetravelservice" aria-expanded="false">
                  旅行服務
                </div>
              </h2>
              <div id="collapsetravelservice" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="travelserviceall">
                    <label class="form-check-label ms-1 mt-1" for="travelserviceall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="TravelDocumentApplicationService">
                    <label class="form-check-label mt-1 ms-1" for="TravelDocumentApplicationService">
                      旅遊文件申請服務 (21)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="BaggageDelivery/StorageService">
                    <label class="form-check-label ms-1 mt-1" for="BaggageDelivery/StorageService">
                      行李運送 / 寄存服務 (19)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="ProfessionalPhotographyServices">
                    <label class="form-check-label ms-1 mt-1" for="ProfessionalPhotographyServices">
                      專業攝影服務 (45)
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value=""
                      id="Travelequipmentandrelatedservices">
                    <label class="form-check-label mt-1 ms-1" for="Travelequipmentandrelatedservices">
                      旅行裝備與相關服務 (2)
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header " id="headingThree">
                <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSouvenir"
                  aria-expanded="false">
                  伴手禮
                </div>
              </h2>
              <div id="collapseSouvenir" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Souvenirall">
                    <label class="form-check-label ms-1 mt-1" for="Souvenirall">
                      全部
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input mt-1" type="checkbox" value="" id="Souvenir">
                    <label class="form-check-label ms-1 mt-1" for="Souvenir">
                      伴手禮(474)
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="filter-group date rounded ">
            <div class="filter-block mt-3">
              <div class="accordion-item">
                <div class="input-group p-2 mb-3">
                  <label for="" class="w-100">
                    <button class="fa-regular fa-calendar btn btn-outline-white text-dark border-end p-3 " type="button"
                      name="datefilter">
                      <!-- <i class="fa-regular fa-calendar"> -->
                    </button>
                    <input type="button" name="datefilter" value="篩選出發日期"
                      class="fa-regular fa-calendar btn btn-outline-white text-dark flex-grow-1 " placeholder="篩選出發日期">
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="filter-group rounded ">
            <div class="filter-block mt-3">
              <div class="accordion-item">
                <h2 class="accordion-header pt-3 pb-4 mx-3" id="headingThree">
                  <span class="Price">價錢 (TWD)</span>
                  <div class="wrapper">
                    <div class="wrapper pt-3">
                      <span id="range1">
                        0
                      </span>
                      <span> &dash; </span>
                      <span id="range2">
                        2,928,980
                      </span>
                    </div>
                    <div class="container mt-4">
                      <div class="slider-track "></div>
                      <input class="bg-white" type="range" min="0" max="99999" value="00" id="slider-1"
                        oninput="slideOne()">
                      <input type="range" min="0" max="99999" value="123456" id="slider-2" oninput="slideTwo()">
                    </div>
                  </div>
                </h2>
                <span class="rounded-circle" style="left:0%;"></span>
              </div>
            </div>
          </div>

          <div class="filter-group rounded">
            <div class="filter-block mt-3">
              <div class="accordion-item">
                <h2 class="accordion-header " id="headingThree">
                  <div class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#journeytime"
                    aria-expanded="false">
                    行程時間
                  </div>
                </h2>
                <div id="journeytime" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <div class="form-check-time ps-2 py-2">
                      <input class="form-check-input mt-1" type="checkbox" value="" id="lessthanfourhours">
                      <label class="form-check-label ms-1 mt-1" for="lessthanfourhours">
                        少於 4 小時
                      </label>
                    </div>
                    <div class="form-check-time ps-2 py-2">
                      <input class="form-check-input mt-1" type="checkbox" value="" id="fourhours-oneday">
                      <label class="form-check-label ms-1 mt-1" for="fourhours-oneday">
                        4 小時 - 1 日
                      </label>
                    </div>
                    <div class="form-check-time ps-2 py-2">
                      <input class="form-check-input mt-1" type="checkbox" value="" id="oneday-twoday">
                      <label class="form-check-label ms-1 mt-1" for="oneday-twoday">
                        1 日 - 2 日
                      </label>
                    </div>
                    <div class="form-check-time ps-2 py-2">
                      <input class="form-check-input mt-1" type="checkbox" value="" id="morethantwodays">
                      <label class="form-check-label ms-1 mt-1" for="morethantwodays">
                        2 日以上
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-9 pt-3 p-2">
          <div class="card-board mb-3 border-0">
            <div class="card-board mb-3 border-0">
              <div class="card-body text-secondary d-flex flex-wrap pb-0">
                <div class="chip-group d-flex flex-wrap">
                  <p class="card-title_group align-self-center ms-1">7991
                  <p class="experience-itinerary text-dark align-self-center mx-1">項體驗行程</p>
                  </p>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class="">飯店</span>
                    <button type="button" class="btn-close" disabled aria-label="Close"></button>
                  </span>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class="">景點門票</span>
                    <button type="button" class="btn-close " disabled aria-label="Close"></button>
                  </span>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class=" ">主題樂園</span>
                    <button type="button" class="btn-close " disabled aria-label="Close"></button>
                  </span>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class=" ">博物館 & 美術館</span>
                    <button type="button" class="btn-close " disabled aria-label="Close"></button>
                  </span>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class="">展覽</span>
                    <button type="button" class="btn-close " disabled aria-label="Close"></button>
                  </span>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class=" ">冒險 & 極限運動</span>
                    <button type="button" class="btn-close " disabled aria-label="Close"></button>
                  </span>
                  <span class="chip rounded-pill border border-secondary d-flex align-items-center">
                    <span class="">露營</span>
                    <button type="button" class="btn-close " disabled aria-label="Close">

                    </button>
                  </span>
                  <span class="chip-clear rounded-pill d-flex align-items-center ">
                    <a href="#" class="a text-decoration-none text-light">清除所有</a>
                  </span>
                </div>
              </div>
              <div class="card-footer bg-transparent d-flex flex-wrap py-3 ps-4 border-bottom-0 align-items-center">
                <h5 class=" me-2">排序 : </h5>
                <div class="sort">
                  <i class="fa-regular fa-thumbs-up"></i>
                  <a href="#" class="text-decoration-none">
                    <span class="sort">Today推薦</span>
                  </a>
                </div>
                <div class="sort">
                  <span class="span_divider mx-1 "> | </span>
                  <i class="fa-solid fa-fire"></i>
                  <a href="#" class="text-decoration-none">
                    <span class="sort">熱門程度</span>
                  </a>
                </div>
                <div class="sort">
                  <span class="span_divider mx-1 "> | </span>
                  <i class="fa-solid fa-star "></i>
                  <a href="#" class="text-decoration-none">
                    <span class="sort">用戶評價</span>
                    <span class="span_divider mx-1 "> | </span>
                  </a>
                </div>
                <div class="sort">
                  <a href="#" class="text-decoration-none">
                    <i class="fa-solid fa-dollar-sign"></i>
                    <span class="sort">價格 : 低到高</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
 <partial name ="mapModalPartial" />


  @section endJS
  {
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script src="https://kit.fontawesome.com/847bfc3e24.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="~/js/homescript.js"></script>

  <script>
      let json_text= @Html.Raw(@ViewData["locationJson"]);
   </script>
   <script src="~/js/google-map.js"></script>
 
 
  <script src="~/js/show_city.js"></script>
    <script>
    $(".DIY-main-card.owl-carousel").owlCarousel({
      loop: false,
      margin: 10,
      stagePadding: 32,
      navigation: true,
      responsive:
      {
        0: {
          items: 1,
        },
        500:{
          items:2
        },
        768: {
          items: 3
        },
        992: {
          items: 4
        }
      }
    });
  </script>
   <script type="text/javascript">
           $(function () {
      $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: 'Clear'
        }
      });

      $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
      });

      $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
      });

    });</script>
  }