/* 共同 */
body{
    padding-top: 50px;
}
.fixed-width{
    max-width: 1200px;
}
.nav-limit{
    background-color: #ffffff;
}

/* 導覽列 */
header{
    z-index: 10;
}
.nav-limit .container-fluid, .fixed-width{
    box-sizing: border-box;
}
h1{
    width: 20%;
    max-width: 80px;
}
.nav-limit{
    top: 0;
    left: 0;
}
.nav-limit .navbar-nav a:hover, .category-limit a:hover, header .search-keywords a:hover {
    color: #26bec9 !important;
}
/* 多加 */
.w-40 {
    width: 40%;
}

.w-120 {
    width: 120%;
}

.user-info {
    box-sizing: border-box;
    width: 200px;
}

header li img, .big-headimg img {
    aspect-ratio: 5/5;
    max-width: 30px;
    cursor: pointer;
}

header ul li, header .search-keywords a {
    cursor: pointer;
}

header li .user-info::after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-right: 10px transparent solid;
    border-bottom: 10px black solid;
    border-left: 10px transparent solid;
    top: -10px;
    right: 25px;
}

/* footer */
.footer-limit {
    background-color: #aaa;
}
.app a{
    width: 25px;
    height: 25px;
    background-color: rgb(53, 50, 50);
}
.app i{
    line-height: 25px;
}
.footer-limit .footer-list a:hover{
    color: #ffaf1e!important;
}
.footer-limit .app a:hover{
    background-color: #51BAF8;
}

@media screen and (max-width: 768px) {
    .footer-limit .title-icon{
        cursor: pointer;
    }
}

@media screen and (max-width: 992px) {
    header .navbar-toggler{
        width: 40px;
        height: 40px;
        background-color: black;
        position: relative;
    }
    header .navbar-toggler span{
        background-color: white;
        display: block;
        width: 33px;
        height: 3px;

        position: absolute;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all 1s 0s ease;
    }
    header .navbar-toggler span:first-child{
        transform: translate(0, -8px);
    }
    header .navbar-toggler span:last-child{
        transform: translate(0, 8px);
    }
    /* header button:checked ~ span:first-child{
        transform: translate(0, 0) rotate(-45deg);
    }
    header button:checked ~ span:nth-child(2){
        transform: scale(0);
    }
    header button:checked ~ span:last-child{
        transform: translate(0, 0) rotate(45deg);
    } */
}

/*@media screen and (min-width: 992px) {
    body{
        padding-top: 37px;
    }
}*/