@section topCSS{
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/orderManage.css">
}

    <div class="container">
        <div class="row bigrow">
            <div class="col-12 col-lg-3 aside">
                <div class="page-aside">
                    <div class="card aside-box">
                        <div class="editor-logo">
                            <img class="rounded-circle" src="https://picsum.photos/200/200/?random=10">
                            <div class="icon-bg rounded-circle">
                                <i class="fa-solid fa-camera"></i>
                            </div>
                        </div>
                        <div class="aside-box-text name">盧致文</div>
                        <div class="aside-box-text level">白銀會員</div>
                        <hr>
                        <div class="account-group">
                            <div class="account d-flex">
                                <img class="channel-icon" src="https://cdn.kkday.com/pc-web/assets/img/sns/google.svg"
                                 alt="">
                                <div class="channel-name flex-grow-1">
                                    <div>Google</div>
                                </div>
                                <i class="icofont-check-circled text-info"></i>
                            </div>
                        </div>
                    </div>
                    <ul class="card page-menu">
                        <li class="list-item active">
                            <div class="list-item-text">
                                <i class="icofont-gear-alt"></i>
                                <a href="#">帳號設定</a>
                            </div>
                        </li>
                        <!-- <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-diamond"></i>
                                <a href="#">我的會籍禮遇</a>
                            </div>
                        </li> -->
                        <li class="list-item">
                            <div class="list-item-text d-flex">
                                <i class="icofont-ticket"></i>
                                <a class="flex-grow-1" href="#">KKday折扣卷</a>
                                <span class="text-warning">0</span>
                            </div>
                        </li>
                        <!-- <li class="list-item">
                            <div class="list-item-text d-flex">
                                <i class="icofont-copyright"></i>
                                <a class="flex-grow-1" href="#">KKday Points</a>
                                <span class="text-warning">0</span>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-flag-alt-1"></i>
                                <a href="#">解任務，賺獎勵</a>
                            </div>
                        </li> -->
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-ui-file"></i>
                                <a href="#">訂單管理</a>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-ello"></i>
                                <a href="#">訊息管理</a>
                            </div>
                        </li>
                        <li class="list-item">
                            <div class="list-item-text">
                                <i class="icofont-hype-machine"></i>
                                <a href="#">我的收藏</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-12 col-lg-9 text">
                <div class="card order-card">
                    <div class="page-head">
                        <h2>訂單管理</h2>
                    </div>

                    <!-- 無訂單 -->
                    <div class="page-text">
                        <div class="order-group">
                            <div class="order">
                                <div class="order-text">
                                    <img src="https://cdn.kkday.com/pc-web/assets/img/empty_state/order_list.svg"
                                     width="140" height="140">
                                    <h4>查無訂單資料！</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 有訂單，JS動態生成卡片 -->
                    <div class="page-text-dynamic">
                        <!-- 有折扣 -->
                        <div class="card card_detail shadow bg-body rounded">
                            <div class="row">
                                <div class="col-md-4 ">
                                    <div class="pic h-100">
                                        <img class="img-fluid w-100 h-100 m-auto"
                                         src="https://image.kkday.com/v2/image/get/h_205%2Cc_fit%2Cq_55%2Ct_webp/s1.kkday.com/product_100025/20200708081052_qXRA0/jpg">
                                    </div>
                                </div>

                                <div class="col-md-8 rounded-3">
                                    <div class="text h-100">
                                        <div class="togo">
                                            <span class="d-inline-block bg-info">已出發</span>
                                        </div>

                                        <h2 class="card-title lh-base">【獨家優惠83折】台南學甲｜頑皮世界野生動物園｜獨家長頸鹿手繪門票</h2>
                                        <p class="card-text overflow-hidden lh-base pb-2">
                                            <i class="icofont-briefcase"></i>
                                            方案：KKday專屬優惠｜頑皮世界野生動物園門票（獨家長頸鹿手繪門票）
                                        </p>

                                        <p class="card-text lh-base">
                                            <i class="icofont-tag"></i>
                                            訂單編號：#21KK286931359
                                        </p>

                                        <div class="order-main-goday lh-base disabled">
                                            <div class="day px-2">
                                                <div class="mon">Aug</div>
                                                <div class="day">28</div>
                                            </div>
                                        </div>

                                        <div class="TWD p-1 mt-1 lh-base">TWD 350</div>

                                        <div class="footer d-flex flex-wrap align-items-center">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-white text-dark comment flex-grow-1 shadow-none p-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                <i class="icofont-notepad"></i>
                                                給予評論
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">旅客評論</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                  </div>
                                                  <div class="modal-body">
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <p>這次旅行你是屬於哪種類別呢</p>
                                                    <button type="button" class="btn btn-outline-info">情侶</button>
                                                    <button type="button" class="btn btn-outline-info">家人</button>
                                                    <button type="button" class="btn btn-outline-info">好友</button>
                                                    <button type="button" class="btn btn-outline-info">單人旅遊</button>
                                                    <button type="button" class="btn btn-outline-info">商務旅客</button>
                                                    <p>評論標題</p>
                                                    <input id="comment-title"/>
                                                    <p>告訴我們你的想法</p>
                                                    <div class="editor"></div>
                                                  </div>
                                                  <div class="modal-footer">
                                                    <p>你的評論將提供給其他旅客參考</p>
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                                    <button type="button" class="btn btn-info text-white">送出</button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                            <div class="order-btn">
                                                <a id="order-list-order-receipt-1" data-toggle="modal" class="btn btn-light border-secondary">寄送報帳收據</a>

                                                <a id="order-list-order-contact-1" href="#" class="btn btn-info text-light">聯絡客服</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- 無折扣 -->
                    <!-- <div class="card_detail shadow bg-body rounded">
                            <div class="row g-0">
                                <div class="col-md-4 ">
                                    <div class="pic h-100">
                                        <img class="img-fluid w-100 h-100 m-auto"
                                            src="https://image.kkday.com/v2/image/get/h_650%2Cc_fit/s1.kkday.com/product_2460/20220217014308_QNoTt/jpg">
                                        <i class="fa-solid fa-heart btn-wish p-3 me-2"></i>
                                    </div>
                                </div>
                                <div class="col-md-8 rounded-3 ">
                                    <div class="card-body">
                                        <h2 class="card-title">【2022澎湖花火節】澎湖秘境跳島一日遊｜忘憂島浮潛＆無人島探險＆頭巾嶼＆南方四島（暑假保證有位）</h2>
                                        <div class="card-point py-2 ">
                                            <span class="label label-addational rounded-3 ">8天前可免費取消</span>
                                        </div>
                                        <p class="card-text-info py-2 mx-1 lh-base overflow-hidden ">現在預約澎湖忘憂島一日遊，帶您前往全台唯一國家海洋公園浮潛、水上活動，欣賞七彩珊瑚礁群！專業中文導覽，帶你從澎湖出發，踏上澎湖無人島探險特殊潮池景觀與離島網美秘境！
                                        </p>
                                        <div class="prodduct-listview_inco_info d-flex flex-wrap my-2 me-2">
                                            <i class="fa-solid fa-location-dot"></i>
                                            <div class="prodduct-listview_inco_info flex_item product-palce">
                                                <p class="card-text d-flex ms-2">台灣 澎湖</small>
                                                </p>
                                            </div>
                                            <i class="fa-regular fa-calendar  ms-3"></i>
                                            <div class="prodduct-listview_inco_info  product-time">
                                                <p class="card-text ms-2">最早可預訂日期 : 2022-06-18</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="footer  d-flex flex-wrap">
                                            <div class="product_footer m-auto col-8 mt-3">
                                                <i class="fa-solid fa-star "></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star"></i>
                                                <i class="fa-solid fa-star-half"></i>

                                                <span class="number">(331)</span>
                                                <i class="fa-solid fa-fire py-2">
                                                    <span class="subscription">1K+ 個已訂購</span></i>
                                            </div>
                                            <div class="doller d-flex flex-wrap justify-content-end col-4 ps-2 nocoupon">
                                                <h4 class="TWD d-flex justify-content-end p-1 mt-1">TWD 3800</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
@section Scripts{
    <script src="~/lib/Ckeditor5SimpleUpload/build/ckeditor.js" type="text/javascript"></script>
    <script>
        ClassicEditor
			.create(document.querySelector('.editor'), {
				licenseKey: '',
				ckfinder: {
					// 使用 CKFinder QuickUpload 命令將圖像上傳到服務器
					uploadUrl: '/api/upload',

					// 定義 CKFinder 配置（如有必要
					options: {
						resourceType: 'Images'
					}
				}
			})
			.then(editor2 => {
				window.editor = editor2;

			})
			.catch(error => {
				console.error('Oops, something went wrong!');
				console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
				console.warn('Build id: 8cnzoumsu8xz-nohdljl880ze');
				console.error(error);
			});
    </script>
}