<div class="container-fluid" id="allmember">
    <div class="page-text-dynamic">
        <div class="card_detail_head d-flex">
            <div class="quantity">
                <strong class="text-info">{{memberscount}}</strong>
                個成員
            </div>
        </div>
    </div>
    <div>
      <b-card no-body>
        <b-tabs card>
          <b-tab title="會員總覽" active>
            <b-card-text>
                <div>
                    <b-table striped hover :items="members"></b-table>
                </div>
            </b-card-text>
          </b-tab>
          @*<b-tab title="詳細資料">
            <b-card-text>Tab contents 2</b-card-text>
          </b-tab>*@
        </b-tabs>
      </b-card>
    </div>
</div>

@section endJS{
    <script>
        let dataSource = []
        window.onload = function(){
            let url = "/api/MemberApi/GetMemberList"
            fetch(url, {
                method: 'Get',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(res => {
                    if (res.ok) {
                        console.log('OK')
                        Promise.resolve(res.json()).then(function(result){
                            result.map(function(value, key){
                                console.log(value)
                                dataSource.push(value)
                            })
                            console.log(dataSource)
                        })
                    }
                    else {
                        console.log('Fail')
                    }
                })
        }

        const app = new Vue({
            el: '#allmember',
            data: {
                members: dataSource
            },
            computed:{
                memberscount(){
                    return this.members.length
                }
            }
        })

    </script>
}